{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Django Fieldbook Demo{% endblock %}</title>

    {% block head %}
        {% include 'material/includes/material_css.html' %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style type="text/css">
            html, body {
                background: #eee;
                height: 100%;
            }

        .collection .collection-item.active {
            background-color: green;
            color: white;
        }
        .collection a.collection-item{
            color:green;
        }
        </style>
        {% block extrahead %}{% endblock %}
    {% endblock %}
</head>
<body class="valign-wrapper2">

<nav class="topbar">
    <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <div class="brand-logo" >
            <a href="{% url 'index' %}">
                <img src="{% static 'logo-djF.png' %}" style="width:60%; margin-top: 10px; margin-left: 10px">
            </a>
        </div>


        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {% if fbuser.fieldbook_book %}
                <li><a href="#">Book ID: <span style="color:greenyellow"> {{ fbuser.fieldbook_book }}</span></a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li>
                <div class="nav-wrapper">
                    <form id="sheet" action="/sheet-list/" method="get">
                        <div class="input-field">
                            {% if sheet_name %}
                                <input id="search" type="text" placeholder="Search a sheet" name="sheet_name"
                                       value="{{ sheet_name }}">
                            {% else %}
                                <input id="search" type="text" placeholder="Search a sheet" name="sheet_name">
                            {% endif %}
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        </div>
                    </form>
                </div>
            </li>
            {% endif %}

            <li id="login_as_menu">
                {% if user.is_authenticated %}
                    <a class="dropdown-button" href="{% url 'logout' %}" data-activates="user-login-as-menu">Logout</a>
                {% else %}
                    <a class="dropdown-button" href="#!" data-activates="user-login-as-menu"><i
                            class="material-icons right">arrow_drop_down</i>Login as</a>
                    <ul id="user-login-as-menu" class="dropdown-content" style="min-width:200px">
                    <li><a data-turbolinks="false" href="{% url 'login' %}">Login</a></li>
                        <li><a data-turbolinks="false" href="{% url 'registration' %}">Register</a></li>
                    </ul>
                {% endif %}
            </li>
        <li>
            <a  href="{% url 'help' %}" data-activates="user-login-as-menu"><i class="material-icons">info_outline</i></a>
        </li>
        </ul>
    </div>
</nav>


{% block sidebar %}{% endblock %}

{% block content %}{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% include 'material/includes/material_js.html' %}
    {% block extrajs %}

        <script>
            $("#sheet").submit(function (event) {
                event.preventDefault();

                var url_mask = ""
                var input = $("#sheet :input[name='sheet_name']").val();
                if (input == null || input == '') {
                    url_mask = "{% url 'index' %}";
                }
                else {
                    url_mask = "{% url 'sheet_table' sheet_name=12345 %}".replace(/12345/, input);
                }
                location.href = url_mask;

            });

        </script>
    {% endblock %}
{% endblock %}
</body>
  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Author</h5>
                  <p class="grey-text text-lighten-4"><p><a href="https://about.me/the_sab">Sab Severino</a> <a href="https://github.com/bsab"><i class="fa fa-github" aria-hidden="true"></i></a></p></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Django</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Fieldbook</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
</html>


